li {
  width: 30vw;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  border: none;
  border-radius: 9px;
  background: #8ddad5;
  box-shadow: inset 5px 5px 10px #7bbeb9, inset -5px -5px 10px #9ff6f1;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 9px;
}

.delete__btn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  font-size: 20px;
  height: 3rem;
}

.delete__btn:active {
  border-radius: 9px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background: #8ddad5;
  box-shadow: inset 2px 2px 4px #7bbeb9, inset -2px -2px 4px #9ff6f1;
}
