@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Architects Daughter", cursive;
}

html {
  font-size: 16px;
  background-color: #8ddad5;
}

main {
  text-align: center;
}

img {
  margin-top: 30px;
  border-radius: 9px;
  box-shadow: -3px -4px 4px rgba(150, 150, 150, 1);
}

h1 {
  letter-spacing: 1px;
  text-shadow: -3px -4px 4px rgba(150, 150, 150, 1);
}
