@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Architects Daughter", cursive;
}

html {
  font-size: 16px;
}

main {
  text-align: center;
}
